version: '3.9'

networks:
  dev:
    driver: bridge

services:

  api:
    container_name: nomiki_api
    build:
      context: .
      dockerfile: src/Nomiki.Api/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:80
      Nomiki__InterestRate__ScrapeUlr: https://www.bankofgreece.gr/statistika/xrhmatopistwtikes-agores/ekswtrapezika-epitokia
      Nomiki__Database__Connection: Host=db;Database=nomiki_db;Username=postgres;Password=admin;Port=5432;
      Nomiki__Database__AutoMigrate: true
    networks:
      - dev

  db:
    container_name: postgres_db
    image: postgres:latest
    environment:
      POSTGRES_DB: nomiki_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: always
    networks:
      - dev

volumes:
  db_data: 
